<span style='color: #000'>41 frames</span>	<span style='color: #900'>6,144 KB</span>	<span style='color: #090'>557.34 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\pdf.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\controllers\Perangkat_ajar.php<br />
			Line: 353<br />
			Function: load_view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\index.php<br />
			Line: 316<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\pdf.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\controllers\Perangkat_ajar.php<br />
			Line: 353<br />
			Function: load_view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\index.php<br />
			Line: 316<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\pdf.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\controllers\Perangkat_ajar.php<br />
			Line: 353<br />
			Function: load_view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\index.php<br />
			Line: 316<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined property: Pdf::$filename</p>
<p>Filename: libraries/pdf.php</p>
<p>Line Number: 47</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\libraries\pdf.php<br />
			Line: 47<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\application\controllers\Perangkat_ajar.php<br />
			Line: 353<br />
			Function: load_view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\sim-apps\index.php<br />
			Line: 316<br />
			Function: require_once			</p>

		
	

</div>